html,body{
    margin: 0px;
    padding:0px;

}
h1,h2,h3,h4,h5,h6{
    margin: 0px auto;
    padding:0px;
}
ul{
    margin: 0px;
    padding:0px;
}
header,nav,section,aside,article,footer{
    display:block;
    overflow: hidden;
}


/*full box*/
#container{
    display:block;
    width: 900px;
    margin: 10px auto;
    background: #c2ecec;
    border: 25px solid blue;
    padding: 3px;

}

/* header*/
h1{
    text-shadow: 15px ;
    background: #bb6e6e;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 3px solid;
}

li a:hover {
    background-color: green;
}
.formbox{
    float: right;
    height: 30px;
    color: white;
    padding: 10px;
}
.article1{
    border-color: #089FC2;
    border-width: 5px;
    border-style: inset;
    border-radius: 10px 10px 10px 10px;
    color: black;
    font-style: oblique;
    padding: 5px 5px 5px 5px;

}.article2{
     border-color: red;
     border-width: 5px;
     border-style: inset;
     border-radius: 10px 10px 10px 10px;
     color: black;
     padding: 5px 5px 5px 5px;

 }
.contentarticle{
    display: block;
    overflow: hidden;
}

/*aside start*/
aside{
    border-color: #089FC2;
    border-width: 5px;
    border-style: inset;
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    height: auto;/*For Modern Browser*/
    height: 682px;/*For internet explorer*/
    color: black;
    font-style: oblique;
    padding: 5px;
    float: right;
}
section{
    padding:2px;
}
footer{
    background:#bb6e6e;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
u:hover {
    width: auto;
    background-color: green;
    padding:10px;
    color: white;
}
body {
    background-color:lightgreen;
}

@media only screen and (max-width: 500px) {
    body {
        background-color:lightblue;
    }
}
.bar{
    height: 52px;
    width: 2px;
    background: green;
    float: right;
}

address{
    font-size: 40px;
}
/* Dropdown Button*/
.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;


}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: green}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
